<div class="container">
  <div class="header">
    <img src="assets/logos/Shikshagraha-01.png" alt="Diksha Logo" class="logo" />
  </div>

  <div class="main-content">
    <p class="main-text">
      This improvement project can only be filled using Shikshagraha mobile app
    </p>

    <div class="steps">
      <div class="step">
        <h3>Step 1</h3>
        <p>If you do not have the Shikshagraha app, install it here.</p>
        <div class="button">
        <a class="btn install-btn" (click)="onInstallClick()">Install app</a>
        </div>
      </div>

      <div class="step">
        <h3>Step 2</h3>
      <p>
        {{ action === 'create-observation' ? 'Create a observation using the Shikshagraha App' : 
           action === 'create-survey' ? 'Take the survey using the Shikshagraha App' : 
           'Take up improvement project using the Shikshagraha App' }}
      </p>
      <div class="button">
        <a 
          (click)="getDeepLink()"
          class="btn start-btn" >
          {{ action === 'create-observation' ? 'Start Observation' : 
             (action === 'create-survey' ? 'Start Survey' : 'Start Project') }}
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
